<div class="timeline">
  <div class="timeElapsed"></div>
  <!-- Adjust left value to position checkpoint -->
  <div id="progressBar">
  <a href="#" class="checkPoint" style="left:20%"><span><img src="" /></span></a>
  <a href="#" class="checkPoint" style="left:40%"><span><img src="" /></span></a>
  <a href="#" class="checkPoint" style="left:60%"><span><img src="" /></span></a>
  <a href="#" class="checkPoint" style="left:80%"><span><img src="" /></span></a>
  </div>
  <div class="timeTotal"><p>{{ audioLength }}</p></div>
</div>	
<audio id="audio" preload="auto">
  <source src="{{ audioSrc }}" type="audio/wav">
</audio>

